{% extends 'base.html' %}

{% block Title %} {{object.name}} {% endblock Title %}

{% block Header %} {{object.name}} {% endblock Header %}


{% block body %}
<br>
<h1> Все необходимое для хорошего отдыха </h1>
<b><i class="bi bi-thermometer-high"></i></b><br>
{{ object.par  }}<br>
<b><i class="bi bi-droplet-half"></i></b><br>
{{ object.water  }}<br>
<b><i class="bi bi-pc-display-horizontal"></i></b><br>
{{ object.rest  }}<br>
<b><i class="bi bi-cup-hot-fill"></i></b><br>
{{ object.extra  }}<br>
<b>Besedka:</b> {{ object.besedkas  }}<br>
{% endblock body %}





