{% extends 'base.html' %}

{% block Title %} {{object.name}} {% endblock Title %}

{% block Header %} {{object.name}} {% endblock Header %}


{% block body %}
<br>
<h1> Все необходимое для хорошего отдыха </h1>
<b><i class="bi bi-thermometer-high"></i></b><br>
<b>{{ object.par  }}</b><br>
<b><i class="bi bi-droplet-half"></i></b><br>
<b>{{ object.water  }}</b><br>
<b><i class="bi bi-pc-display-horizontal"></i></b><br>
<b>{{ object.rest  }}</b><br>
<b><i class="bi bi-cup-hot-fill"></i></b><br>
<b>{{ object.extra  }}</b><br>
<b>Besedka:</b> {{ object.besedkas  }}<br>
{% endblock body %}